<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.core.product.read.ScreeingsReadMapper">
	<!-- 优化字段映射 -->
	<resultMap id="BaseResultMap_optimized" type="com.pzj.core.product.entity.Screeings">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="scenic_id" property="scenicId" jdbcType="BIGINT" />
		<result column="start_time" property="startTime" jdbcType="INTEGER" />
		<result column="end_time" property="endTime" jdbcType="INTEGER" />
		<result column="end_sale_time" property="endSaleTime" jdbcType="INTEGER" />
	</resultMap>
	<!-- 优化字段查询sql -->
	<sql id="Base_Column_List_optimized">
		id, code, name, scenic_id, start_time, end_time,
		end_sale_time
	</sql>
	<!-- 主键查询 -->
	<select id="selectScreeingsById" resultMap="BaseResultMap_optimized"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List_optimized" />
		from prod_screeings
		where id = #{screeingsId}
	</select>
	
	<!-- 根据参数查询 -->
	<select id="selectScreeingsesByParam" resultMap="BaseResultMap_optimized"
		parameterType="com.pzj.core.product.entity.Screeings">
		select
		<include refid="Base_Column_List_optimized" />
		from prod_screeings
		<trim prefixOverrides="and">
			<where>
				<if test="screeings != null ">
					<if test="screeings.scenicId != null">
						and scenic_id = #{screeings.scenicId}
					</if>
					<if test="screeings.code != null">
						and code = #{screeings.code}
					</if>
					<if test="screeings.name != null">
						and name = #{screeings.name}
					</if>
					<if test="screeings.startTime != null">
						and start_time = #{screeings.startTime}
					</if>
					<if test="screeings.screeingsNameList != null and screeings.screeingsNameList.size > 0">
						and name in
						<foreach collection="screeings.screeingsNameList" index="index" item="item" open="(" separator="," close=")">
				            #{item}
				        </foreach>
					</if>
				</if>
				or 1=2
			</where>
		</trim>
	</select>
</mapper>