<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.core.product.read.SeatRecordReadMapper">
	<!-- 优化字段映射 -->
	<resultMap id="BaseResultMap_seatInfo" type="com.pzj.core.product.entity.SeatRecord">
		<id column="record_id" property="recordId" jdbcType="BIGINT" />
		<result column="transaction_id" property="transactionId" jdbcType="BIGINT" />
		<result column="screening_id" property="screeningId" jdbcType="BIGINT" />
		<result column="area_id" property="areaId" jdbcType="BIGINT" />
		<result column="seat_id" property="seatId" jdbcType="BIGINT" />
		<result column="seat_name" property="seatName" jdbcType="BIGINT" />
		<result column="operator_id" property="operatorId" jdbcType="INTEGER" />
		<result column="category" property="category" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="travel_date" property="travelDate" jdbcType="TIMESTAMP" />
		<result column="expiration_time" property="expirationTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="BaseResultMap_seatCollects" type="com.pzj.core.product.entity.SeatRecordCollects">
		<result column="name" property="areaName" jdbcType="VARCHAR" />
		<result column="area_id" property="areaId" jdbcType="BIGINT" />
		<result column="seat_num" property="seatNum" jdbcType="INTEGER" />
		<result column="category" property="category" jdbcType="INTEGER" />
	</resultMap>
	<!-- 根据交易id查询座位信息 -->
	<select id="querySeatInfoByTransactionId" resultMap="BaseResultMap_seatInfo">
	select
		screening_id,
		area_id,
		seat_id,
		seat_name,
		travel_date
	from seat_record
	where transaction_id = #{transactionId}
	</select>
	
	<select id="querySeatRecordByModel" resultMap="BaseResultMap_seatInfo">
		select
		s.record_id,
		s.screening_id,
		s.area_id,
		s.seat_id,
		s.seat_name,
		s.travel_date,
		s.category,
		s.operator_id,
		s.state
		from seat_record s
		where
		<trim prefixOverrides="and|or ">
			<if test="seatRecord != null">
				<if test="seatRecord.screeningId != null">
					AND s.screening_id = #{seatRecord.screeningId}
				</if>
				<if test="seatRecord.areaId != null">
					AND s.area_id = #{seatRecord.areaId}
				</if>
				<if test="seatRecord.transactionId != null">
					AND s.transaction_id = #{seatRecord.transactionId}
				</if>
				<if test="seatRecord.travelDate != null">
					AND (select date(s.travel_date)) = #{seatRecord.travelDate}
				</if>
				<if test="seatRecord.category != null">
					AND s.category = #{seatRecord.category}
				</if>
				<if test="seatRecord.state != null">
					AND s.state = #{seatRecord.state}
				</if>
				<if test="seatRecord.operatorId != null">
					AND s.operator_id = #{seatRecord.operatorId}
				</if>
				<if test="seatRecord.seatIds != null and seatRecord.seatIds.size &gt; 0">
					AND s.seat_id in
					<foreach collection="seatRecord.seatIds" item="seatId" open="("
							 separator="," close=")">
						#{seatId}
					</foreach>
				</if>
				<if test="seatRecord.recordIds != null and seatRecord.recordIds.size &gt; 0">
					AND s.record_id in
					<foreach collection="seatRecord.recordIds" item="recordId" open="("
							 separator="," close=")">
						#{recordId}
					</foreach>
				</if>
			</if>
			or  1 = 2
		</trim>
		ORDER BY seat_id
	</select>
	
	<select id="queryAreaSeatCollects" resultMap="BaseResultMap_seatCollects">
	
		SELECT s.area_id,s.category,a.name,COUNT(record_id) AS seat_num FROM `seat_record` s
		INNER JOIN
		`prod_area` a
		ON s.area_id = a.id
		where 
		s.screening_id = #{seatRecord.screeningId}
		AND s.travel_date = #{seatRecord.travelDate}
		GROUP BY s.category,s.area_id
	
	</select>
</mapper>